body {
    /* background-image: url("chess5.png"); */
    background-color: #252536;
    background-attachment: fixed;
   }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.center {
    padding: 70px 0;
}

.navbar-scrolled {
    background: #0e4b4f !important;
    transition: background 200ms linear;
}

.bio-text {
    width: calc(100% - 700px);
}

@media (max-width: 576px) {
    .scroll-wrapper {
        width: calc(100% - 40px); /* trims 20px each side */
    }

    .bio-text {
        width: calc(100% - 40px);
    }
}


/* Homepage Animation */
.scroll-wrapper {
    overflow: hidden;
    width: calc(100% - 500px); /* trims 250px from each side */
    margin: 0 auto;
}

.scroll-track {
    display: flex;
    width: max-content;
    animation: scroll-left 40s linear infinite;
}

.scroll-content {
    white-space: nowrap;
    padding-right: 2rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

/* KEY FIX: move only half the track width */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 576px) {
    .scroll-wrapper {
        width: calc(100% - 40px);
    }
}


/* Icons */
.icon-img {
    width: 40px;
    height: 40px;
}

.github-icon {
    position: fixed;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }

.in-icon {
    position: fixed;
    right: 1%;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .email-icon {
    position: fixed;
    right: 1%;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1000;
  }